<!-- Footer -->
<div class="card text-center footer">
    <div class="card-body">
        <h5 class="card-title">CC</h5>
        <div class="footerlink-grid mx-auto">
            <a class="about" href="#">About Us</a>
            <a class="faq" href="/faq">FAQ</a>
            <a class="contact" href="#">Contact Us</a>
        </div>
        <div class="footersocials-grid mx-auto">
            <a class="twitter" href="https://twitter.com/i/flow/login"><i class="bi bi-twitter"></i></a>
            <a class="ig" href="https://www.instagram.com/accounts/login/"><i class="bi bi-instagram"></i></a>
            <a class="fb" href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
            <a class="yt" href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>
        </div>
        <span>© 2020 Copyright: CC</span>
    </div>
</div>
  <!-- Footer -->