{% extends "base.html" %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='CSS/base.css') }}">{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}

<div class='user_forms'>
    <div class="user_forms_bg">
    {% from "includes/_formHelper.html" import render_field %}
        <h1>Account Login</h1>
        <form method="POST" action="/">
            <div class="user_forms_group">
                {{ render_field(form.email, class="user_forms_control capitalize") }}
            </div>
            <div class="user_forms_group">
                {{ render_field(form.password, class="user_forms_control capitalize") }}
            </div>
            <div class="user_form_forgot_password">
                <a href="/forgot_password">Forgot Password?</a>
            </div>
                <input type="submit" value="Submit" class="user_forms_button btn-primary"/>
            <div class="user_form_redirect">
<!--                {% with messages = get_flashed_messages() %}-->
<!--                  {% if messages %}-->
<!--                    <div class="flash" style="margin-bottom: 1rem; ">-->
<!--                    {% for message in messages %}-->
<!--                      {{ message }}-->
<!--                    {% endfor %}-->
<!--                    </div>-->
<!--                  {% endif %}-->
<!--                {% endwith %}-->
                Not a member? <a href="/register" style="text-decoration: underline;">Register Now.</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
