{% extends "base.html" %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='CSS/base.css') }}">{% endblock %}
{% block title %}Forgot Password{% endblock %}

{% block content %}

<div class='user_forms'>
    <div class="user_forms_bg">
    {% from "includes/_formHelper.html" import render_field %}
        <h1>Forgot Password</h1>
        <h4>Enter your registered email address.</h4>
        <form method="POST" action="/">
            <div class="user_forms_group">
                {{ render_field(form.email, class="user_forms_control capitalize") }}
            </div>
            <input type="submit" value="Send OTP" class="user_forms_button btn-primary"/>
        </form>
    </div>
</div>

{% endblock %}
