{% extends "base.html" %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='CSS/base.css') }}">{% endblock %}
{% block title %}Forgot Password{% endblock %}

{% block content %}

<div class='user_forms'>
    <div class="user_forms_bg">
    {% from "includes/_formHelper.html" import render_field %}
        <h1>Forgot Password</h1>
        <h4>Enter your registered email address.</h4>
        <form method="POST">
            <div class="user_forms_group">
                {{ render_field(form.email, class="user_forms_control capitalize") }}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="cs_form_flash" style="margin-bottom: 1rem; ">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
            <input type="submit" value="Send OTP" class="user_forms_button btn-primary"/>

        </form>
    </div>
</div>

{% endblock %}
