<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
        {% include 'includes/customer_navbar.html' %}
    {% endblock %}

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
        {% include 'includes/customer_footer.html' %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>