{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Questions{% endblock %}

{% block content %}



<div class="container mt-3">
    <h1 class="pb-3">Asked Questions</h1>

  <table class="table table-dark table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th>Question ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Replies</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for qn in user_messages %}
      <tr>
        <td>{{ qn.id }}</td>
        <td>{{ qn.name }}</td>
        <td>{{ qn.email }}</td> 
        <td>{{ qn.message }}</td>
        <td>{{ qn.replies }}</td>
        <td></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
