{% extends "base.html" %}
{% block title %}Home {% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/process.css')}}">
{% endblock %}

{% block content %}
<div class="container-sm col-lg-6 ml-auto">
    <h1 class="text-center">CC</h1>
    <h3 class="text-center">Recycle</h3>
    <h4 class="text-center">Let's play our part to save the earth</h4>
    <br>
    <form action="" class="" method="POST">
        <div class="form-group pb-3">
            <label for="">Email</label>
            <input type="text" class="form-control">

            <p class="text-muted">Don't have an account?<a href="" class="text-reset">Create One!</a></p>

        </div>
        <div class="form-group pb-3 d-flex justify-content-center">
            <button class="btn button-color btn-outline-light w-50">Proceed</button>
        </div>
    </form>


</div>



{% endblock %}