{% extends "base.html" %}
{% block title %}Home {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/process.css')}}">
{% endblock %}

{% block content %}
<div class="container-sm col-lg-6 ml-auto">
    <h1 class="text-center">CC</h1>
    <h3 class="text-center">Recycle</h3>
    <h4 class="text-center">Let's play our part to save the earth</h4>
    <br>
    {% from "includes/_formHelper.html" import render_field %}
    <form method="POST">
        <div class="user_forms_group">
            {{ render_field(form.email, class="user_forms_control capitalize") }}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="cs_form_flash">
                        {% for message in messages %}
                            {{ message }}<a href="/register" style="color: red; text-decoration: underline;">Register</a>.
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <input type="submit" value="Proceed" style="margin-bottom: 1rem;" class="user_forms_button btn-primary"/>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
